{% extends 'bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}项目管理{% endblock %}</h1>
 
        {% bootstrap_messages %}
       
        {% block content %}
         {% for dept in departments %}
            <a href="#">{{ dept.name }} <span class="badge">{{ dept.projects.count  }}</span></a><br>
         {% endfor %}
            <a href="#">Comments <span class="badge">10</span></a><br>
            <a href="#">Updates <span class="badge">2</span></a>
        {% endblock %}
    </div>

{% endblock %}
