{% extends 'bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}项目管理{% endblock %}</h1>
 
        {% bootstrap_messages %}
       
        {% block content %}
      
        <div class="menu row">
            <div class="menu-category list-group  ">
                 {% for dept in departments %}
                <a href="{% url 'projects' %}?dept={{ dept.pk }}" class="menu-item list-group-item  list-group-item-info"><b>{{ dept.name }}</b><span class="badge">{{ dept.projects.count  }}</span></a>
                   {% endfor %}
            </div>
        {% endblock %}
    </div>
    
    
    

{% endblock %}
