{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    项目列表
{% endblock %}

{% block content %}
<div class="container">
  <!DOCTYPE html>
<html lang="en">
<head>
  <title>项目</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="col-md-4l">
      <a href="{% url 'addproject' %}/"><button type="button" class="btn btn-primary">新建项目</button></a>  
  </div>
  <ul class="list-group">
    {% for proj in projects %}
      {% url 'project' proj.pk as proj_url %}
        <li href="#" class="list-group-item">
          <h4 class="list-group-item-heading">
            <a href="{{ proj_url }}">{{proj.name}}</a>
          </h4>
          <p class="list-group-item-text"><b>编号</b>: {{proj.serial_number}}</p>
        </li>
    {% endfor %} 
  <ul>
 
</div>

</body>
</html>
        
   
</div>
 

{% endblock %}
